.container {
    display: flex;
    background-color: white;
}

.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 13rem;
    text-align: justify;
}

.add-college-button {
    text-align: center;
    background-color: rgb(251, 181, 95);
    color: rgb(60, 52, 55);
    border: none;
    padding: 8px 12px 8px 12px;
    font-size: 1.15rem;
}

.add-college-button:hover {
    background-color: rgb(229, 108, 110);
    color: white;
    cursor: pointer;
}