.login-box {
    background-color: white;
    border-radius: 15px;
    position: fixed;
    inset: 0px;
    width: 25rem;
    height: 28rem;
    max-width: 80vw;
    max-height: 60dvh;
    margin: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}

.header {
    text-align: center;
    font-size: 1.4rem;
    color: rgba(60, 52, 55);
}

.under-header {
    text-align: center;
    color: rgba(60, 52, 55);
}

.form {
    margin-top: 1.5rem;
    color: rgba(60, 52, 55);
}

.account-details-input {
    display: block;
    border: none;
    margin-top: 7px;
    font-size: 1.3rem;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 23.5rem;
    max-width: 30rem;
    height: 1.8rem;
    outline: solid;
    outline-color: rgb(122, 156, 149);
    outline-width: 2px;
    border-radius: 4px;
    color: rgba(60, 52, 55, 90%);
}

.submit-button-container {
    display: flex;
    justify-content: center;
    margin-top: 2.5em;
}

.submit-button {
    background-color: rgb(251, 181, 95);
    color: rgb(60, 52, 55);
    border: none;
    padding: 8px 12px 8px 12px;
    font-size: 1.15rem;
}

.submit-button:hover {
    background-color: rgb(229, 108, 110);
    color: white;
}

.account-details-headers {
    margin-bottom: 0.6em;
    font-size: 1.1rem;
}

.show-password {
    margin-top: 0.6rem;
}

.password-field-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.show-password-container {
  display: flex;
  align-items: baseline;
  gap: 6px;
  margin-top: 0.4rem;
}
