.container {
    display: flex;
    background-color: white;
}

.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 13rem;
    text-align: justify;
}

.header {
    margin-top: 2rem;
}

.label {
    display: flex;
    margin-right: 2rem;
    margin-left: 0.7rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1.3rem;
}

.input {
    display: block;
    border: none;
    margin-top: 7px;
    margin-left: 0.7rem;
    margin-bottom: 1.4rem;
    font-size: 1.3rem;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    outline-width: 2px;
    border-radius: 4px;
    color: rgba(60, 52, 55, 90%);
}

.checked-input {
    display: block;
    border: none;
    margin-top: 7px;
    margin-left: 0.7rem;
    margin-bottom: 1.4rem;
    font-size: 1.3rem;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: rgba(60, 52, 55, 90%);
}

.dropdown-input {
    background-color: white;
    display: block;
    border: none;
    margin-top: 7px;
    margin-left: 0.7rem;
    margin-bottom: 1.4rem;
    font-size: 1.3rem;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 23.5rem;
    max-width: 30rem;
    height: 2.1rem;
    outline: solid;
    outline-color: rgb(122, 156, 149);
    outline-width: 2px;
    border-radius: 4px;
    color: rgba(60, 52, 55, 90%); 
}

.typed-input {
    display: block;
    border: none;
    margin-top: 7px;
    margin-left: 0.7rem;
    margin-bottom: 1.4rem;
    font-size: 1.3rem;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 23.5rem;
    max-width: 30rem;
    height: 2rem;
    outline: solid;
    outline-color: rgb(122, 156, 149);
    outline-width: 2px;
    border-radius: 4px;
    color: rgba(60, 52, 55, 90%); 
}

.column {
    margin-right: 15rem;
}

.column-container {
    display: flex;
}

.submit-button {
    background-color: rgb(251, 181, 95);
    color: rgb(60, 52, 55);
    border: none;
    padding: 8px 12px 8px 12px;
    font-size: 1.15rem;
}

.submit-button:hover {
    background-color: rgb(229, 108, 110);
    color: white;
    cursor: pointer;
}

.prestige {
    padding-left: 0.8rem;
    padding-top: 0.8rem;
    font-size: 1.1rem;
}