.container {
    display: flex;
    background-color: white;
}

.content {
    flex: 1;
    padding: 2rem;
    box-sizing: border-box;
    text-align: justify;
}

.header {
    
}

.profile-container {
    background-color: rgba(122, 156, 149, 0.5);
    margin-top: 1rem;
    padding-left: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.8rem;
}

.profile-header {
    margin-top: 0.3rem;
    font-size: 1.4rem;
}

.profile-details {
    padding-top: 0.6rem;
}
