.darkBG {
    background-color: rgba(188, 132, 47, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.centered {
    color: rgb(60, 52, 55);
    background-color: white;
    border-radius: 15px;
    position: fixed;
    inset: 0px;
    width: 25rem;
    height: 24rem;
    max-width: 80vw;
    max-height: 60dvh;
    margin: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    box-shadow: 0 5px 20px 0 rgba(33, 5, 5, 0.04);
}

.close-button-container {
    display: flex;
    justify-content: right;
    margin-right: -1rem;
    margin-bottom: -0.5rem;
}

.close-button {
    border: none;
    background-color: white;
    color: rgba(33, 5, 5, 0.50);
    font-size: 1.3rem;
}

.close-button:hover {
    cursor: pointer;
}

.header {
    margin-top: 1rem;
    text-align: left;
}

.form {
    margin-top: 1.5rem;
    width: 250px;
    height: 170px;
    z-index: 10;
    border-radius: 16px;
}

.form-input-header {
    margin-bottom: 0.6em;
    font-size: 1.2rem;
}

.form-input {
    display: block;
    border: none;
    margin-top: 7px;
    font-size: 1.3rem;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 23.5rem;
    max-width: 30rem;
    height: 1.8rem;
    outline: solid;
    outline-color: rgb(122, 156, 149);
    outline-width: 2px;
    border-radius: 4px;
    color: rgba(60, 52, 55, 90%);
}

.submit-button-container {
    display: flex;
    justify-content: center;
    margin-top: 2.5em;
}

.submit-button {
    text-align: center;
    background-color: rgb(251, 181, 95);
    color: rgb(60, 52, 55);
    border: none;
    padding: 8px 12px 8px 12px;
    font-size: 1.15rem;
}

.submit-button:hover {
    background-color: rgb(229, 108, 110);
    color: white;
    cursor: pointer;
}