.sidebar {
    width: 12rem;
    max-width: 80vw;
    height: 100vh;
    background-color: rgb(251, 181, 95);
    box-sizing: border-box;
    position: fixed;
}

.blocks-container {
    display: flex;
    flex-direction: column;
}

.block {
    padding: 10px;
    color: rgb(60, 52, 55);
}

.block:hover {
    background-color: rgb(229, 108, 110);
    color: white;
}

.sidebar a{
    color: rgb(60, 52, 55);
    text-decoration: none;
}